.card {
    width: 18rem;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
  }

  .card img {
    height: 13rem;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .card-text {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
  }
  
  .tag {
    display: inline-block;
    margin-top: 0.5rem;
  }
  