.header {
    background-color: rgb(187, 0, 0);
    padding: 10px 20px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  .header-cart {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  